# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build/
*.log
*.mtl
kernels/bxdf/disney.cl
*.hdr
include/BVH/bvh_morton_code.h

.vscode
*.old

external/AMD APP SDK/