[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "external/bvh"]
	path = external/bvh
	url = https://github.com/madmann91/bvh
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
